:root{
    --background-color: black;
    --background-color2: #431d46;
    --background-menu: #0c7fb6;
}

body{
    background-color: var(--background-color);
}

/*#darkmodeToggle:checked  main{
    --background-color2: #431d46;
    --background-menu: #0c7fb6;
    --background-color: black;

    background-color: var(--background-color);

}

.darkmodeLabel{
    cursor: pointer;
}*/

#foto_perfil{
    width: 70px;
    height: 70px;
    border-radius: 100%;
   /* margin-right: 50px;*/
    padding: 20px 0px;
    
    

    
}

.titulo{
    margin: 40px 100px 0px 0px;

    display: flex;
    justify-content: center;
}

.nome{
    width: 100px;
    padding: 0px 10px;

    color: #06de62;
    font-family: zona pro;
    font-weight: bold;
    font-size: 26px;
    

}

.developer{
    font-size: 10px;
    color: #06de62;
    font-family: zona pro;
    font-weight: bold;
    margin: 75px -110px;
}

.menu{
    width: 225px;
    height: 80px;
    margin: 10px auto;
    
    
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}

.menu_sobre{
    width: 225px;
    height: 80px;
    margin: 200px auto;
    
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}

.menu_conhecimentos{
    width: 225px;
    height: 80px;
    margin: 250px auto;
    
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}

.menu_portifolio{
    width: 225px;
    height: 80px;
    margin: 250px auto;
    
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}

.chave1{
    font-size: 255px;
    color: #06de62;
    font-family: zona pro;
    font-weight: bold;

    margin: -75px -270px;
    padding: 0px 0px;

    display: flex;
    justify-content: center;
    flex-direction: column;
}

.chave2{
    font-size: 255px;
    color: #06de62;
    font-family: zona pro;
    font-weight: bold;

    margin: -200px 380px;
    padding: 0px 0px;

    display: flex;
    justify-content: center;
    flex-direction: column;
}

button{
    width: 550px;
    background: var(--background-menu);
    color: black;

    
    font-family: zona pro;
    font-weight: bold;
    
    margin: 3px -165px;
    text-align: center;
    border-radius: 5%; 

    
}

button:hover{
    background: linear-gradient(to top, #2b35e4, #0c7fb6);
    color: black;

    
    font-family: zona pro;
    font-weight: bold;
    
    text-align: center;
    margin: 3px -165px; 
}

footer{

    color: #06de62;
    font-family: zona pro;
    font-weight: bold;
    text-align: center;

    margin: 200px auto;
}

.sobre{
    font-family: verdana;
    color: white;
    background-color: #431d46;
    width: 720px;

    margin: 0px -280px;
    padding: 5px 30px;
}

.sobre p::first-line {
    background: #06de62;
    color: black;
    font-weight: bold;
}

.conhecimentos{
    font-family: verdana;
    color: white;
    background-color: #431d46;
    width: 720px;

    margin: 0px -280px;
    padding: 5px 30px;
}

.portifolio{
    font-family: verdana;
    color: white;
    background-color: #431d46;
    width: 720px;

    margin: 0px -280px;
    padding: 200px 30px;
}

.voltar{
    width: 100px;
    background: var(--background-menu);
    color: black;

    
    font-family: zona pro;
    font-weight: bold;

    text-align: center;
    margin: 100px 60px;
    border-radius: 5%; 
}


.voltar:hover{
    background: linear-gradient(to top, #2b35e4, #0c7fb6);
    color: black;

    
    font-family: zona pro;
    font-weight: bold;

    text-align: center;
    margin: 100px 60px; 
}

#img_linguagens{
    width: 500px;
    padding: 0px 100px;
    position: relative;
}

#img_react{
    width: 200px;
    padding: 10px 100px;
    position: relative;
}

#img_rest{
    width: 200px;
    margin: 0px -25px;
    padding: 0px auto;
    position: relative;
}

#img_github{
    width: 150px;
    margin: -80px 100px;

    position: absolute;
  
   
}

#img_github:hover{
    width: 200px;
    margin: -80px 100px;
    
    position: absolute;
   
}

#img_behance{
    width: 150px;
    margin: -80px 460px;
    
    position: absolute;
    
}

#img_behance:hover{
    width: 200px;
    margin: -80px 460px;
    
    position: absolute;
    
}

.visite{
    position: absolute;
    text-align: center;
    margin: -180px 200px;
}

